name: CHUTEA_PRO_PIPELINE

on:
  push:
    branches: [ main ]

jobs:
  automation-cycle:
    runs-on: ubuntu-latest
    steps:
      - name: 1. 拉取最新源码
        uses: actions/checkout@v3

      - name: 2. 强力握手：连接腾讯云
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          password: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          command_timeout: 30s
          script: |
            echo "--- 恭喜 Jason，全自动流水线通车了！ ---"
            mkdir -p /root/chutea-devops
            cd /root/chutea-devops
            echo "当前路径: $(pwd)"